%br
%hr
.article_index_nav
  .article_index_nav_item
    friendship
  .article_index_nav_item
    marriage
  .article_index_nav_item
    personal development
  .article_index_nav_item
    spiritual improvement
%hr