/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require tether/src/css/tether
 *= require bootstrap/dist/css/bootstrap
 *= require lightgallery.js/src/css/lightgallery
 *= require font-awesome
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:200');

* {
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	font-family: Verdana;
	color: #3b3a36;
	height: 100%;
}

.projects_nav {
	background-color: #3b3a36!important;
}

.cover_img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.layouts_nav {
	position: absolute;
	width: 100%;
    top: 20%;
	height: 190px;
	color: #3b3a36;
}

.layouts-item1 {
	top: -14px;
}

.layouts_nav_item1 {
	position: absolute;
	top: 45%;
	right: 15%;
}

.layouts_nav_item2 {
	position: absolute;
	top: 60%;
	right: 30%;
}

.layouts-item1 {
	margin-right: 20px;
}

.layouts_img {
  position: relative;
}

.e2 {
  transition: all 0.4s ease;
}

.line {
  position:absolute;
  width: 0px;
  height: 0px;
  transition: all 0.5s ease;
  background: #3b3a36;
}
.top {
  top:10%;
  left:50%;
}
.bottom {
  bottom:10%;
  left:50%;
}
.left {
  top:50%;
  left:10%;
}
.right {
  top:50%;
  right:10%;
}

.e2 .top{
  left:10%;
  width: 80%;
  height: 1px;
}
.e2 .bottom{
  left:10%;
  width: 80%;
  height: 1px;
}
.e2 .left{
  top:10%;
  width: 1px;
  height: 80%;
}
.e2 .right{
  top:10%;
  width: 1px;
  height: 80%;
}

.layouts_img {
	margin-top: 100px;
	width: 25%;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.layouts_img img {
	width: 100%;
	padding-right: 50px;
	padding-left: 50px;
}

/*.welcome_img img {
 height: 100vh;
 width: 100vw;
}*/

.projects_nav {
	&__item {
		a {
			color: #F5F5F5!important;
			position: relative;
			padding-bottom: 5px;
			&:hover {
				text-decoration: none;
			}
		&:before {
          content: " ";
          position: absolute;
          left: 0%;
          bottom: 2px;
          height: 1px;
          width: 0%;
          background-color: #c0dfd9;
          transition: width 0.5s ease-in-out;
        }

        &:after {
          content: " ";
          position: absolute;
          right: 0%;
          bottom: 0px;
          height: 1px;
          width: 0%;
          background-color: #c0dfd9;
          transition: width 0.5s ease-in-out;
        }
        
        &:hover, &:focus, &:active {
          &:before{
            width:70%
          }
          &:after{
            width:70%
          }
        }
      }
    }
}

/*.projects_nav.shrink {
	background-color: #292b2c!important;
	transition: all ease .5s;
	opacity: 0.5;
}*/


/* footer */
footer {
	background-color: #e9ece5;
	height: 60px;
}
.project_footer {
	display: flex;
}

.footer-icons {
	display: flex;
	align-items: center;
	height: 60px;
	width: 80%;
}

.footer-icon-last {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
	width: 20%;
	font-size: 13px;
}

.footer-icon {
	 padding-left: 30px;
}

.fa-copyright {
	padding: 0 10px;
}

 .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .main-content {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;
  }
/* end of footer */
