%footer.footer
  .project_footer
    .footer-icons
      .footer-icon
        %i.fa.fa-facebook
      .footer-icon
        %i.fa.fa-twitter
      .footer-icon
        %i.fa.fa-instagram
    .footer-icon-last
      copyright
      %i.fa.fa-copyright
      2017